.container {
    width: 50%;
    margin-left: 25%;
    margin-top: 6%;
    display: inline-block;
}
.left {
    width: 60%;
    float: right;
}
.right {
    width: 40%;
    float: left;
    margin-top: 100px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-title {
    font-size: 100px;
    color: #2B9BF1;
    margin: 0;
    margin-bottom: 0.2em;
    line-height: 0.7em;
}
.description {
    font-size: 30px;
}
.button {
    display: inline-block;
    background-color: #FFFDFA;
    color: #92ADC4;
    padding: 0.9em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.2em;
    border-radius: 2em;
    border: 0.15em solid #2B9BF1
}